<div class="container">
  <div class="art-det-page py-3">
    <div class="row">
      <div class="col-lg-12 mob-padd-0">
        <h3 class="mb-4">Irene Cerezo</h3>
        <p class="sub-tit">0x218531...E3193771*****************asadajwrbwerkbw23jb4r23m</p>
        <tabset class="art-det-tab">
          <tab tab1 heading="Created" id="first">
            <div class="row product-div">
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product1.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Peachy set of «Color’s original»</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product2.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Ohayo</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product3.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Lines of life</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product4.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Peachy set of «Color’s original»</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div> 
            </div>
          </tab>
          <tab tab2 heading="Collected" id="second">
            <div class="row product-div">
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product1.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Peachy set of «Color’s original»</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product2.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Ohayo</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product3.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Lines of life</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <img src="assets/images/product4.png" class="img-fluid res-img">
                <div class="det-cnt p-3">
                  <h5>Peachy set of «Color’s original»</h5>
                  <p>Irene Cerezo</p>
                  <div class="like-div mb-3">
                    <div class="ldiv">
                      <img src="assets/images/heart.png" class="mr-2"><span>5</span>
                    </div>
                    <div class="rdiv">
                      <h6>8 QUBE</h6>
                    </div>
                  </div>
                  <button class="con-wal-btn">Insufficient QUBE balance</button>
                </div>
              </div> 
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>