<div class="animated fadeIn dash_blk">
  <div class="row">
      <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
        <div class="card text-white bg-success" (click) = "goToSec('exchange_count')"  style="padding: 20px 5px;">
          <div class="card-body pb-0" style="cursor: pointer;">
            <div class="btn-group float-right" dropdown>
              <i  style="height: 40% !important;"  class="fa fa-users"></i>
            </div>
            <div class="details">
              <div >Exchange Count</div>
              <div class="text-value">{{info.exchangecount}}</div>
            </div>
          </div>
        </div>
      </div> -->
    
      <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
        <div class="card text-white bg-danger" (click) = "goToSec('pair_management')"  style="padding: 20px 5px;">
          <div class="card-body pb-0" style="cursor: pointer;">
            <div class="btn-group float-right" dropdown>
              <i  style="height: 40% !important;"  class="fa fa-users"></i>
            </div>
            <div class="details">
              <div>Pairs Management Count</div>
              <div class="text-value">{{info.pairscount}}</div>
            </div>
          </div>
        </div>
      </div> -->


      <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
        <div class="card text-white bg-primary" (click) = "goToSec('pool_count')" style="padding: 20px 5px;" >
          <div class="card-body pb-0" style="cursor: pointer;">
            <div class="btn-group float-right" dropdown>
              <i  style="height: 40% !important;"  class="fa fa-money"></i>
            </div>
            <div class="details">
              <div>Pool Count</div>
              <div class="text-value">{{info.poolcount}}</div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
        <div class="card text-white bg-success" (click) = "goToSec('removed_pool')"  style="padding: 20px 5px;">
          <div class="card-body pb-0" style="cursor: pointer;">
            <div class="btn-group float-right" dropdown>
              <i  class="fa fa-users"></i>
            </div>
            <div class="details">
              <div>Removed Pool Count</div>
              <div class="text-value">{{info.removepoolcount}}</div>
            </div>
          </div>
        </div>
      </div> -->
    
 
  </div> <br><br><br><br><!--/.row-->
            <div class="row">

              <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
                <div class="card text-white bg-success" (click) = "goToSec('claim_history')" style="padding: 20px 5px;" >
                  <div class="card-body pb-0" style="cursor: pointer;">
                    <div class="btn-group float-right" dropdown>
                      <i  style="height: 40% !important;"  class="fa fa-btc"></i>
                    </div>
                    <div class="details">
                      <div> Claim History Count</div>
                      <div class="text-value">{{info.claimcount}}</div>
                    </div>
                  </div>
                </div>
              </div> -->


              <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
                <div class="card text-white bg-primary" (click) = "goToSec('Cherry_management')"  style="padding: 20px 5px;"  >
                  <div class="card-body pb-0" style="cursor: pointer;" >
                    <div class="btn-group float-right" dropdown  >
                      <i  style="height: 40% !important;"  class="fa fa-money"></i>
                    </div>
                    <div class="details">
                      <div >Cherry Management Count</div>
                      <div class="text-value">0</div>
                       <div class="text-value">{{cherry_managecount}}</div>
                    </div>
                  </div>
                </div>
              </div> -->


              <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
                <div class="card text-white bg-success" (click) = "goToSec('adminlog_count')"  style="padding: 20px 5px;"  >
                  <div class="card-body pb-0" style="cursor: pointer;" >
                    <div class="btn-group float-right" dropdown  >
                      <i  style="height: 40% !important;"  class="fa fa-btc"></i>
                    </div>
                    <div class="details">
                      <div> Admin Login History Count </div>
                      <div class="text-value">{{info.adminlogcount}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
                <div class="card text-white bg-success" (click) = "goToSec('depositcount')"  style="padding: 20px 5px;"  >
                  <div class="card-body pb-0" style="cursor: pointer;" >
                    <div class="btn-group float-right" dropdown  >
                      <i  style="height: 40% !important;"  class="fa fa-btc"></i>
                    </div>
                    <div class="details">
                      <div> Staking History </div>
                      <div class="text-value">{{info.depositcount}}</div>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6 col-lg-3" style="height: 60px!important;">
                <div class="card text-white bg-success" (click) = "goToSec('withdrawcount')"  style="padding: 20px 5px;"  >
                  <div class="card-body pb-0" style="cursor: pointer;" >
                    <div class="btn-group float-right" dropdown  >
                      <i  style="height: 40% !important;"  class="fa fa-btc"></i>
                    </div>
                    <div class="details">
                      <div> Unstaking History </div>
                      <div class="text-value">{{info.withdrawcount}}</div>
                    </div>
                  </div>
                </div>
              </div> -->


             <!--  <div class="col-sm-6 col-lg-3" style="height: 60px!important;">

                <div class="card text-white bg-danger" (click) = "goToSec('pending_support')"  style="padding: 20px 5px;">
                  <div class="card-body pb-0" style="cursor: pointer;">
                        <div class="btn-group float-right" dropdown>
                      <i  style="height: 40% !important;"  class="fa fa-support"></i>

                    </div>
                     <div class="details">
                  <div >Pending Supports</div>
                  <div class="text-value">{{total?.pending_support}}</div>
                </div>
                  </div>
              
                </div>
              </div> -->
            </div><br><br><br><br>
            <!-- <div class="row">

              <div class="col-sm-6 col-lg-3" style="height: 60px!important;">

                <div class="card text-white bg-danger" (click) = "goToSec('pending_kyc')" style="padding: 20px 5px;" >
                  <div class="card-body pb-0" style="cursor: pointer;">
                        <div class="btn-group float-right" dropdown>
                      <i  style="height: 40% !important;"  class="fa fa-btc"></i>

                    </div>
                     <div class="details">
                  <div >Pending KYC</div>
                  <div class="text-value">{{total?.pending_kyc}}</div>
                </div>
                  </div>
              
                </div>
              </div>
            

               <div class="col-sm-6 col-lg-3" style="height: 60px!important;">

                <div class="card text-white bg-primary"  (click) = "goToSec('inactive_user')" style="padding: 20px 5px;" >
                  <div class="card-body pb-0" style="cursor: pointer;">
                        <div class="btn-group float-right" dropdown>
                      <i  style="height: 40% !important;"  class="fa fa-users"></i>

                    </div>
                     <div class="details">
                  <div >Deactive Users</div>
                  <div class="text-value">{{total?.inactive_user}}</div>
                </div>
                  </div>
              
                </div>
              </div>
            </div> -->
           
    
 
 
</div>
