<div class="container">
  <div class="launchpad-det-page py-3">
    <div class="row mb-4">
      <div class="col-lg-12">
        <h3 class="mb-4">Bakery Soccer Ball</h3>
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <div class="col-lg-6">
        <div class="cnt-div">
          <img src="assets/images/launchdet.png" class="w-100">
          <span class="badge">Ended</span>
          <div class="cnt-det-div p-4">
            <div class="row bord-bot">
              <div class="col-lg-6">
                <h5>Bakery Soccer Ball</h5>
                <div class="img-div">
                  <img src="assets/images/soccerdet.png">
                </div>
                <button class="con-wal-btn"><img src="assets/images/medium.png" class="mr-2"> Read More</button>
              </div>
              <div class="col-lg-6">
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Supported Coin:</span>
                  <span class="val">QUBE</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Price:</span>
                  <span class="val">0.000575 QUBE</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Start Block:</span>
                  <span class="val">0</span>
                </div> 
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="time">Around 04.02 9:00 AM UTC</span>
                </div>
              </div>
            </div>
            <div class="row my-4 bord-bot">
              <div class="col-lg-8 col-md-8 mb-2">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="0.0" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">Max</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 pl-lg-0 mb-2">
                <div class="form-group">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>QUBE</option>
                    <option>QUBE</option>
                    <option>QUBE</option>
                  </select>
                  <img src="assets/images/down-arrow-green-big.png">
                </div>
              </div>
              <div class="col-lg-12 mb-3">
                <div class="form-group"><button class="con-wal-btn">Connect Wallet</button></div>
              </div>
            </div>
            <div class="row mb-4 details-cnt">
              <div class="col-lg-12">
                <p>Inspired by the creativity of our community, we prepared 1000 Bakery-themed exclusive soccer balls for this special IDO.</p>
                <p>We have a token representation of the NFT soccer, named SOCCER, and we will issue 1000 SOCCER, 1 SOCCER can be minted into 1 soccer NFT, and 1 NFT soccer can be converted into 1 real-world soccer ball.</p>
                <p>SOCCER will be listed on Bakery AMM exchange for trading and liquidity farming after IDO. The Bakery Exclusive Soccer Ball (both the token and the NFT) can be used to stake and farm BAKE!</p>
                <img src="assets/images/token-img.png" class="d-block mx-auto img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>