<div class="accountsview-page-div">
  <div class="row mb-4">
    <div class="col-lg-12">
      <div class="title-div mb-3">
        <div class="left-div" *ngIf='shoWREc'>
          <span>Accounts</span>
          <img src="assets/images/right-arrow.png" class="mx-2">
          <span class="grncol add-desk cur-pointer" (click)="openaddress_explorer()">{{passAddress}}</span>
          <span class="grncol add-mob d-none">0xa3138cf6aa</span>
        </div>
        <div class="search-bg">
          <div class="form-group has-search mb-0">          
            <input type="text" class="form-control" placeholder="Search" (keyup)="filterFncAccount($event.target.value)">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <div class="saved-div" *ngIf='shoWREc'>
        <h3 class="mb-0">{{passAddress.substring(0, 6)}}...{{passAddress.substring(passAddress.length-4)}}</h3>
        <img src="assets/images/ribbon-green.png" class="mx-3">
        <span>Saved</span>
      </div>
      <a class="viewbscscan cur-pointer" (click)="openaddress_explorer()">View on BscScan</a>
      <div class="search-bg-one my-3"  *ngIf="poolhistory.length>0">
        <div class="form-group has-search mb-0">  
          <select class="form-control" (change)="PositionData(poolhistory)" [(ngModel)] = "positionRec.pair">
            <option class="dropdown-item" value="all">All Position</option>
             <option *ngFor="let ccy of poolhistory; let i=index">{{ccy.pair}}</option>
         </select>        
          <!-- <select class="form-control" >
            <option>All Positions</option>
          </select> -->
          <img src="assets/images/left-arrow.png">
        </div>
      </div>
      <div class="value-div p-3 mb-3">
        <div class="row">
          <div class="col-md-4">
            <div class="com-div" *ngIf="shoWREc">
              <p>Liquidity (Cumulative)</p>
              <h4 *ngIf="userLpbalance">{{userLpbalance | number:'1.6-6'}} Lp points</h4>
              <h4 *ngIf="!userLpbalance">0.000000</h4>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <div class="com-div">
              <p>Fees Earned (Cumulative)</p>
              <h4 class="grncol">$2,633</h4>
            </div> -->
          </div>
        </div>
      </div>
      <div class="graph-div mb-3">
        <!-- <img src="assets/images/graph2.png"> -->
        <div id="highcharts" style=" max-width: 944px; height: 373px; margin: 0 auto; border-radius: 5px;"></div>
      </div>
     <div class="row mb-4" >
       <div class="col-lg-12">
         <h3 class="table-cap">Positions</h3>
         <div class="top-tokens-table">            
          <div class="table-responsive">
            <table class="table">
              <thead>
                <!-- <th>S.No</th> -->
                <th>Name</th>
                <th class="text-right">Liquidity<img src="assets/images/arrow_down.png" class="ml-2"></th>
                <th>Total Liquidity</th>
              </thead>
              <tbody *ngIf="poolhistory.length>0">
                <tr *ngFor="let ccy of poolhistory; let i=index">
                  <!-- <td>1</td> -->
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="{{ccy.fromCurrency_i}}" class="coinimg"><img src="{{ccy.toCurrency_i}}" class="mr-2 pair-img-first coinimg">
                      <!-- <img src="assets/images/xmr-pet.png"> -->
                      <div class="rdiv ml-3">
                        <span class="cur-pointer" [routerLink]="'/pairview/'+ccy.pair_address">{{ccy.pair}} </span>
                        <div class="d-flex mt-2">
                          <button class="add-remove-btn" [routerLink]="'/pool'">Add</button>
                          <button class="add-remove-btn ml-2" [routerLink]="'/pool'">Remove</button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <span >{{ccy.Lppoints | number:'1.8-8'}} Lp Points</span>
                    <div class="d-block mt-2">
                      <label>{{ccy.totalShare | number:'1.2-2'}} %</label>
                      <label  >{{ccy.from_amount}} {{ccy.fromCurrency}}</label>
                      <label>{{ccy.to_amount}} {{ccy.toCurrency}}</label>
                    </div>
                  </td>
                  <td>
                    <span class="greencol">{{ccy.totalAmount | number:'1.8-8'}} Lp Points</span>
                    <div class="d-block mt-2">
                      <label class="mt-2">{{ccy.fromDept}}{{ccy.fromCurrency}}</label>
                      <label>{{ccy.toDept}}{{ccy.toCurrency}}</label>
                    </div>
                  </td>
                </tr>                
              </tbody>       
            </table>
          </div>
        </div>
       </div>
     </div>
     <div class="row mb-4">
      <div class="col-lg-12">        
        <h3 class="trans">Transactions</h3>         
        <tabset class="trans-tab">
          <tab tab1 heading="All" id="first">
            <div class="top-tokens-table">            
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <!-- <th>S.No</th> -->
                    <th>Name</th>
                    <!-- <th>Total value</th> -->
                    <th>TOKEN AMOUNT</th>
                    <th>TOKEN AMOUNT</th>
                    <th>Account</th>
                    <th>TIME<img src="assets/images/arrow_down.png" class="ml-2"></th>
                    <th>TOTAL VALUE</th>
                  </thead>
                  <tbody *ngIf="allArray.length > 0">
                    <tr *ngFor="let item of allArray | paginate:{id: 'paginationAll',itemsPerPage:allSno.itemsPerPage,currentPage: allSno.currentPage,totalItems: allSno.totalItems};let i=index">
                        <!-- <td>{{allSno.itemsPerPage *(allSno.currentPage-1)+i+1}}</td> -->
                        <td><span class="name">{{item.type}}</span></td>
                       
                        <td>{{item.from_amount}} {{item.fromCurrency}}</td>
                        <td>{{item.to_amount}} {{item.toCurrency}}</td>
                        <td><span class="name cur-pointer"  (click)="openUseraddress_explorer(item.user_address)">{{item.user_address.substring(0, 6)}}...{{item.user_address.substring(item.user_address.length-4)}}</span></td>
                        <td>{{item.created_date | timeago}}</td>
                         <td>$15,887</td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="allArray.length == 0">
                      <tr >
                        <td colspan="5" class="text-center">No records found</td>
                      </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-center my-4">
                  <div class="pagination-div">
                    <pagination-controls id="paginationAll" class="my-pagination" (pageChange)="allpageChanged($event)"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </tab>          
          <tab tab2 heading="Swaps" id="second">
            <div class="top-tokens-table">            
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <!-- <th>S.No</th> -->
                    <th>Name</th>
                    <!-- <th>Total value</th> -->
                    <th>TOKEN AMOUNT</th>
                    <th>TOKEN AMOUNT</th>
                    <th>Account</th>
                    <th>TIME<img src="assets/images/arrow_down.png" class="ml-2"></th>
                    <th>TOTAL VALUE</th>
                  </thead>
                  <tbody *ngIf="swapArray.length > 0">
                      <tr *ngFor="let item of swapArray | paginate:{id: 'paginationSwap',itemsPerPage:swapSno.itemsPerPage,currentPage: swapSno.currentPage,totalItems: swapSno.totalItems};let i=index">
                        <!-- <td>{{swapSno.itemsPerPage *(swapSno.currentPage-1)+i+1}}</td> -->
                        <td><span class="name">Swap {{item.Records[0].fromCurrency}} for {{item.Records[0].toCurrency}}</span></td>
                        <!-- <td>$15,887</td> -->
                        <td>{{item.amountETH}} {{item.Records[0].fromCurrency}}</td>
                        <td>{{item.amountToken}} {{item.Records[0].toCurrency}}</td>
                        <td><span class="name cur-pointer" (click)="openUseraddress_explorer(item.user_address)">{{item.userAddress.substring(0, 6)}}...{{item.userAddress.substring(item.userAddress.length-4)}}</span></td>
                        <td>{{item.created_date | timeago}}</td>
                        <td>$15,887</td>
                      </tr>
                    </tbody>
                      <tbody *ngIf="swapArray.length == 0">
                      <tr >
                       <td colspan="5" class="text-center">No records found</td>
                      </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-center my-4">
                  <div class="pagination-div">
                    <pagination-controls id="paginationSwap" class="my-pagination" (pageChange)="swappageChanged($event)"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab tab3 heading="Adds" id="third">
            <div class="top-tokens-table">            
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <!-- <th>S.No</th> -->
                    <th>Name</th>
                    <!-- <th>Total value</th> -->
                    <th>TOKEN AMOUNT</th>
                    <th>TOKEN AMOUNT</th>
                    <th>Account</th>
                    <th>TIME<img src="assets/images/arrow_down.png" class="ml-2"></th>
                    <th>TOTAL VALUE</th>
                  </thead>
                  <tbody *ngIf="addArray.length > 0">
                     <tr *ngFor="let item of addArray | paginate: {id: 'paginationAdds',itemsPerPage:addSno.itemsPerPage,currentPage: addSno.currentPage,totalItems: addSno.totalItems};let i=index">
                        <!-- <td>{{addSno.itemsPerPage *(addSno.currentPage-1)+i+1}}</td> -->
                        <td><span class="name">Add {{item.fromCurrency}} and {{item.toCurrency}}</span></td>
                        <!-- <td>$15,887</td> -->
                        <td>{{item.from_amount}} {{item.fromCurrency}}</td>
                        <td>{{item.to_amount}} {{item.toCurrency}}</td>
                        <td><span class="name cur-pointer" (click)="openUseraddress_explorer(item.user_address)">{{item.user_address.substring(0, 6)}}...{{item.user_address.substring(item.user_address.length-4)}}</span></td>
                        <td>{{item.created_date | timeago}}</td>
                        <td>$15,887</td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="addArray.length == 0">
                      <tr>
                        <td colspan="5" class="text-center">No records found</td>
                      </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-center my-4">
                  <div class="pagination-div">
                    <pagination-controls id="paginationAdds" class="my-pagination" (pageChange)="addpageChanged($event)"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab tab4 heading="Removes" id="fourth">
            <div class="top-tokens-table">            
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <!-- <th>S.No</th> -->
                    <th>Name</th>
                    <!-- <th>Total value</th> -->
                    <th>TOKEN AMOUNT</th>
                    <th>TOKEN AMOUNT</th>
                    <th>Account</th>
                    <th>TIME<img src="assets/images/arrow_down.png" class="ml-2"></th>
                    <th>TOTAL VALUE</th>
                  </thead>
                  <tbody *ngIf="removeArray.length > 0">
                    <tr *ngFor="let item of removeArray | paginate: {id: 'paginationRemove1',itemsPerPage:removeSno.itemsPerPage,currentPage: removeSno.currentPage,totalItems: removeSno.totalItems};let i=index">
                    <!-- <tr *ngFor="let item of removeArray | paginate: {_id:'paginationRemove1',itemsPerPage:removeSno.itemsPerPage,currentPage: removeSno.currentPage,totalItems: removeSno.totalItems};let j=index"> -->
                      <!-- <td>{{removeSno.itemsPerPage *(removeSno.currentPage-1)+j+1}}</td> -->
                      <td><span class="name">Remove {{item.fromCurrency}} and {{item.toCurrency}}</span></td>
                      <!-- <td>$15,887</td> -->
                      <td>{{item.from_amount}} {{item.fromCurrency}}</td>
                      <td>{{item.to_amount}} {{item.toCurrency}}</td>
                      <td><span class="name cur-pointer" (click)="openUseraddress_explorer(item.user_address)">{{item.user_address.substring(0, 6)}}...{{item.user_address.substring(item.user_address.length-4)}}</span></td>
                      <td>{{item.created_date | timeago}}</td>
                      <td>$15,887</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="removeArray.length == 0">
                    <tr>
                      <td colspan="5" class="text-center">No records found</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-center my-4">
                  <div class="pagination-div">
                    <pagination-controls id="paginationRemove1" class="my-pagination" (pageChange)="removepageChanged($event)"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
     </div>
     <div class="row mb-4">
       <div class="col-lg-12 mob-padd-0">
         <h3 class="wal-stat-info">Wallet Stats</h3>
         <div class="row wal-stat-div p-3 mx-0">
           <div class="col-md-4">
             <p>Total Value Swapped</p>
             <h4 class="grncol">{{swaptotal | number:'1.8-8'}}</h4>
           </div>
           <!-- <div class="col-md-3 col-6">
            <p>Total Fees Paid</p>
            <h4>$2,633</h4>
          </div> -->
          <div class="col-md-3 col-6">
            <p>Total Transactions</p>
            <h4>{{allSno.totalItems}}</h4>
          </div>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
