<div class="container">
  <div class="gam-page py-3">
    <div class="row">
      <div class="col-lg-12 mob-padd-0">
        <h3 class="mb-4">Gamification</h3>
        <p class="sub-tit">The Power of Creativity, Gamification of DEFI World</p>
        <tabset class="art-det-tab gam-det-tabs">
          <tab tab1 heading="Soccer" id="first">
           <div class="row justify-content-center">
             <div class="col-lg-6">
               <div class="row gam-det-tab-cnt p-3">
                <div class="col-lg-6">
                  <img src="assets/images/soccer.png" class="img-fluid">
                </div>
                <div class="col-lg-6 det-cnt">
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <label>Balance:</label>
                    <label class="val">0.000 Soccer</label>
                  </div>
                  <div class="d-flex justify-content-between align-items-center p-3 grnbg mb-3 flex-wrap">
                    <h6>22</h6>
                    <span>Soccer</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <label>You will get :</label>
                    <label class="val">22 Soccer NFT</label>
                  </div>
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <label>Average APY:</label>
                    <label class="val">-</label>
                  </div>
                  <div class="info-div mb-3">
                    <img src="assets/images/info-red.png" class="mr-2">
                    <p class="note">Note that Soccer NFTs can <span>NOT be transformed</span> back to Soccer Tokens!</p>
                  </div>
                  <button class="con-wal-btn mb-4">Connect Wallet</button>
                  <div class="det-soc-nets">
                    <h5 class="mb-3">Details of Soccer NFTs:</h5>
                    <p>Morbi ultricies quam enim congue adipiscing leo et egestas. Cras laoreet congue egestas quisque ut enim, nunc. Facilisi lectus dolor sit sed quis. Consequat, placerat nunc pharetra, cursus amet nunc varius sit. Sit faucibus sit amet commodo enim. Phasellus vel vitae lacinia volutpat massa.</p>
                  </div>
                </div>
               </div>
             </div>
           </div>
          </tab>
          <tab tab2 heading="Combo meals" id="second">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="gam-det-tab-cnt p-3">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-6 mb-3 padd-adjust">
                      <div class="pack-det p-3 basic">
                        <img src="assets/images/star-green.png">
                        <h5>Basic</h5>
                        <p>10k-20k QUBE</p>
                        <h4>3<span>items</span></h4>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 mb-3 padd-adjust">
                      <div class="pack-det p-3 regular">
                        <img src="assets/images/star-blue.png"><img src="assets/images/star-blue.png" class="ml-1">
                        <h5>Regular</h5>
                        <p>20K-50K QUBE</p>
                        <h4>4<span>items</span></h4>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 mb-3 padd-adjust">
                      <div class="pack-det p-3 luxury">
                        <img src="assets/images/star-gray.png"><img src="assets/images/star-gray.png" class="mx-1"><img src="assets/images/star-gray.png">
                        <h5>Luxury</h5>
                        <p>50K-100K QUBE</p>
                        <h4>5<span>items</span></h4>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 mb-3 padd-adjust">
                      <div class="pack-det p-3 supreme">
                        <img src="assets/images/star-orange.png" class="mr-1"><img src="assets/images/star-orange.png" class="mr-1"><img src="assets/images/star-orange.png" class="mr-1">
                        <img src="assets/images/star-orange.png">
                        <h5>Supreme</h5>
                        <p>100K+ QUBE</p>
                        <h4>6<span>items</span></h4>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-6 det-cnt">
                      <div class="det-soc-nets">
                        <h5 class="mb-3">What are NFT Combo Meals?</h5>
                        <div class="cnt-load">
                          <p>NFT Combo Meals increase your staking power and earnings when farmimg on BakerySwap!</p>
                          <p>Consequat, placerat nunc pharetra, cursus amet nunc varius sit. Sit faucibus sit amet commodo enim. Phasellus vel vitae lacinia volutpat massa.</p>
                          <p>We have 4 tiers of combos, Basic, Regular, Luxury, and Supreme. To compose a combo, you need to contribute BAKE, and the more BAKE you contribute, the higher tier combo you will have, which generates the higher staking power.</p>
                          <p>However, there is a random factor when generating staking power like a raffle game,</p>
                          <p>NFT Combo Meals increase your staking power and earnings when farmimg on BakerySwap!</p>
                          <p>Consequat, placerat nunc pharetra, cursus amet nunc varius sit. Sit faucibus sit amet commodo enim. Phasellus vel vitae lacinia volutpat massa.</p>
                          <p>We have 4 tiers of combos, Basic, Regular, Luxury, and Supreme. To compose a combo, you need to contribute BAKE, and the more BAKE you contribute, the higher tier combo you will have, which generates the higher staking power.</p>
                          <p>However, there is a random factor when generating staking power like a raffle game,</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 det-cnt">
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <label>Balance:</label>
                        <label class="val">0.000 QUBE</label>
                      </div>
                      <div class="d-flex justify-content-between align-items-center p-3 grnbg mb-3 flex-wrap">
                        <h6>22</h6>
                        <span>Soccer</span>
                      </div>
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <label>Decompose to get:</label>
                        <label class="val">0 QUBE</label>
                      </div>
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <label>Staking Power:</label>
                        <label class="val">0</label>
                      </div>
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <label>Average:</label>
                        <label class="val">0</label>
                      </div>
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <label>ROI:</label>
                        <label class="val">-</label>
                      </div>
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <label>Average:</label>
                        <label class="val">-</label>
                      </div>
                      <div class="info-div mb-3">
                        <img src="assets/images/info-red.png" class="mr-2">
                        <p class="note">Note that Soccer NFTs can <span>NOT be transformed</span> back to Soccer Tokens!</p>
                      </div>
                      <button class="con-wal-btn mb-4">Connect Wallet</button>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>