<div class="container">
  <div class="launchpad-page py-3">
    <div class="row">
      <div class="col-lg-12 mob-padd-0">
        <h3 class="mb-4">Launchpad</h3>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad1.png" class="img-fluid">
              <div class="lauchpad-det-cnt p-3">
                <h5>HyFi</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad2.png" class="img-fluid">
              <div class="lauchpad-det-cnt p-3">
                <h5>Gamyfi</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad3.png" class="img-fluid">
              <span _ngcontent-c4="" class="badge">End</span>
              <div class="lauchpad-det-cnt p-3">
                <h5>Bakery Soccer Ball</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad4.png" class="img-fluid">
              <div class="lauchpad-det-cnt p-3">
                <h5>Crudeoil</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad1.png" class="img-fluid">
              <div class="lauchpad-det-cnt p-3">
                <h5>HyFi</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad1.png" class="img-fluid">
              <div class="lauchpad-det-cnt p-3">
                <h5>HyFi</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad1.png" class="img-fluid">
              <div class="lauchpad-det-cnt p-3">
                <h5>HyFi</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-3">
            <div class="launchpad-cnt">
              <img  src="assets/images/launchpad1.png" class="img-fluid">
              <div class="lauchpad-det-cnt p-3">
                <h5>HyFi</h5>
                <p>The Intelligent, High-frequency Yield Farming aggregator.</p>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 bord-bot">
                  <span>IDO Amount:</span>
                  <span class="val">4,000,000 HYFI</span>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                  <span>Time:</span>
                  <span class="val">0 (04.02 9:00 UTC)</span>
                </div>
                <button class="con-wal-btn my-4">Participate</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
