<div class="container">
  <div class="artists-page py-3">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="mb-4">Artists</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 mob-padd-0">
        <div class="artists-page-cnt-div p-5">
          <h6 class="mb-4">Artwork information</h6>
          <div class="form-group">
            <div class="bg-grn wpic p-3">
              <label>Artwork Type</label>
              <div class="d-flex justify-content-between align-items-center">
                <div class="ldiv">
                  <img src="assets/images/pic.png" class="mr-2"><span>Picture</span>
                </div>
                <img src="assets/images/down-arrow-green.png">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="bg-grn p-3">
              <label>Artwork Name</label>
              <input type="text" class="form-control" placeholder="Enter the artwork name">
            </div>
          </div>
          <div class="form-group">
            <div class="bg-grn p-3">
              <div class="d-flex justify-content-between align-items-center">
                <label>Artist Name</label>
                <a href="#">Edit</a>
              </div>
              <input type="text" class="form-control" placeholder="Enter the artist name">
            </div>
          </div>
          <div class="form-group">
            <div class="bg-grn p-3">
              <label>Social Media/Portfolio link</label>
              <input type="text" class="form-control" placeholder="Personal website, Instagram, Twitter, etc.">
            </div>
          </div>
          <div class="form-group">
            <div class="bg-grn p-3">
              <label>Brief Introduction</label>
              <textarea class="form-control" placeholder="Enter the brief introduction"></textarea>
              <span class="count">50/500</span>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h6 class="mt-4">Upload artwork image</h6>
              <div class="form-group">
                <div class="bg-grn p-3 bg-white">
                  <input type="file" class="form-control" placeholder="Enter the artist name" style="height: 300px;opacity: 0;z-index: 1;position: relative;">
                  <div class="upload-div">
                    <div class="inner-div text-center">
                      <img src="assets/images/plus-circle.png" class="mb-4">
                      <span>Support: png, jpg, gif. <br>Size: < 10 Mb</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="checkbox-cont">I declare that this is an original artwork. I understand that no plagiarism is allowed, and that the artwork can be removed anytime if detected. 
                  <input name="agree" type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-group"><span class="sen-cnt">Mint an NFT charges 0.01QUBE, please do not upload any sensitive content.</span></div>
              <div class="form-group"><button class="con-wal-btn">Connect Wallet</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>