<div class="header">
  <nav class="navbar navbar-expand-xl bg-dark navbar-dark container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/logo-footer.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto menu-item my-5">
        <li><a href="#"><img src="assets/images/overview.png" class="mr-2"><span>Overview</span></a></li>
        <li><a href="#"><img src="assets/images/tokens.png" class="mr-2"><span>Tokens</span></a></li>
        <li><a href="#"><img src="assets/images/pairs.png" class="mr-2"><span>Pairs</span></a></li>
        <li><a href="#"><img src="assets/images/accounts.png" class="mr-2"><span>Accounts</span></a></li>
      </ul>      
      <div class="update-time-div mb-5">
        <p class="mb-2"><img src="assets/images/green-dot.png" class="mr-3"><span>Updated 2386s ago</span></p>
        <p class="mb-2"><img src="assets/images/red-dot.png" class="mr-3"><span>No connection</span></p>
      </div>
      <div class="expert-mode-div dark-mode mb-5">
        <span class="mr-3">Dark Mode</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>   
      <li class="nav-item" style="list-style: none;">
        <img src="assets/images/nav-close-btn.png" class="nav-class-btn d-none cur-pointer" data-toggle="collapse" data-target="#collapsibleNavbar">
      </li>  
    </div>
  </nav>
</div>


