.header{
    @media(min-width:992px){
        display: none;
    }
    .navbar-dark.bg-dark{
        background: #0D1815 !important;
        .navbar-toggler{
            border-color: transparent !important;
        }
        ul.navbar-nav.menu-item{
            padding-left: 0;
            li{
                list-style: none;            
                margin-bottom: 1.5rem;
                a{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    opacity: 0.55;
                }
                a:hover{
                    text-decoration: none;
                    opacity: 1;
                    transition: all .5s;
                    img{
                        filter:  brightness(0) invert(1);
                    }
                }
            }
        }
        .expert-mode-div{
            display: flex;
            justify-content: start;
            align-items: center;            
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 26px;
                }
                
                /* Hide default HTML checkbox */
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
                
                /* The slider */
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: transparent;
                    transition: .4s;
                    border: 2px solid #1F2D29;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 24px;
                    width: 24px;
                    left: 0px;
                    bottom: -1px;
                    background-color: #6C7C78;
                    -webkit-transition: .4s;
                    transition: .4s;                                    
                }                                  
                input:checked + .slider {
                    background: #1F2D29;
                }
                
                input:focus + .slider {
                box-shadow: 0 0 1px #BEE2D6;
                }
                
                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                    background: #39CE9A;
                }
                
                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }
                
                .slider.round:before {
                 border-radius: 50%;
                }
        }
        .dark-mode{
            .slider:before{
                background: #6C7C78 url('/assets/images/sun.png') no-repeat center;
            }
            input:checked + .slider:before{
                background: #39CE9A url('/assets/images/moon.png') no-repeat center;
            }
        }
        .update-time-div{
            // position: absolute;
            // bottom: 300px;
            span{
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                opacity: 0.5;
            }
        }
    }
}
.navbar-collapse {
    position: fixed;
    top: 63px;
    left: 0;
    width: 45%;
    height: auto;
    padding: 2rem;
    z-index: 100;
    background: #0D1815;
    @media(max-width: 767px){
        width: 100%;
    }
}

.navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
}

.navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
    background: #0D1815;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
}
.navbar-toggler:focus{
    outline: 0;;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-class-btn{
    display: block !important;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}