   <div class="card">
    <div class="card-header" style="background-color:#2f353a;color:#33adff;">
          <i class="fa fa-align-justify"></i> Admin Login History
        </div>


<!-- <h4 style="padding-left: 425px;">Manage Users</h4> -->
<div class="tabcntcls" style=" -webkit-transition: all 1s ease;transition: all 1s ease;padding: 25px;">
  <div class="row col-md-12">
    <div class="col-md-8" style="display: inline-flex;padding-left: 0px;">
      <span style="line-height: 28px;">Display : </span>
      <select (change)="changeRowLimits($event)" style="width: 8%;background: transparent;height: 30px;margin-left: 5px;">
          <option *ngFor="let limit of rowLimits" [value]="limit.value">{{limit.key}}</option>
      </select>

      <div class="input-group-btn" style="margin-left: 10px;">
        <button class="btn btn-primary" style="cursor:pointer;" type="submit"  (click)="resetuserlist()">
           <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>

    </div>
    <div class="col-md-4 p-2" style="display: inline-flex;position: relative;left: 23px;">

        <div class="input-group">
          <input type="text" [(ngModel)]="defsearch" class="form-control" placeholder="Search" id="txtSearch" (keyup.enter)="updateFilter()"  
          (keyfocus)="updateFilter()"/>
          <div class="input-group-btn">
            <button class="btn btn-primary" style="cursor:pointer;" type="submit" (click)="updateFilter()">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </div>

    </div>
  </div>

<!--  <div class="d-flex flex-row-reverse">
          <div class="export_option">
            <ul class="list-inline">
              <li class="list-inline-item">
                {{'Export Profit List'}}
              </li>
                           
              <li class="list-inline-item">
                <a (click)="exportToprofit()" class="cursorcls" title="Csv">       
              <i class="fa fa-download" style="color: blue;"></i>
                     </a>
              </li>
            </ul>
          </div>
        </div> -->
  <div class="table-responsive tab_top">
    <ngx-datatable #usertable class="bootstrap table table-bordered table-striped mb-0 material" [ngClass]="{'table-loaders': table_loader == true }"

    [columnMode]="'force'"
    [headerHeight]="30"
    [footerHeight]="50"
    [rowHeight]="'auto'" [(limit)]="limit" [rows]='userrows' [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)' [externalSorting]="true" (sort)="onSort($event)" [loadingIndicator]="loading">
    <ngx-datatable-column name="S.No" [width]="10">
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        {{(page.pageNumber*page.size)+(rowIndex + 1)}}
      </ng-template>
   </ngx-datatable-column>
    <ngx-datatable-column name="Username" [width]="150">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{row.username}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Email id" [width]="150">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{row.emailid}}
      </ng-template>
    </ngx-datatable-column>
     <ngx-datatable-column name="Ip Address" [width]="150">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{row.ip_address}}
      </ng-template>
    </ngx-datatable-column>
     <!-- <ngx-datatable-column name="Browser" [width]="150">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{row.browser}}
      </ng-template>
    </ngx-datatable-column> -->
       <ngx-datatable-column name="Created Date and Time" [width]="150">
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{row.createddate| date: 'medium'}}
      </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
</div>